.apartmentDescriptionArea {
    
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin: 0 5%;
}

.equipments {
    width: 50%;
}

.descriptionTitle {
    background-color:#ff6060;
    color: white;
    border-radius: 0.7rem;
    display: flex;
    
    padding:0.7em;
    justify-content: space-between;
    margin-bottom: 0;

}
.fa-chevron-up {
    background-color: #FF6060;
    color: white;
    font-size: 20px;
    cursor: pointer;
   
}
.descriptionContent {
    background-color: #E3E3E3;
    color: #FF6060;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    margin-block: 0;
    font-size: 20px;
    z-index: -1;

    
}

