.header {
    display: flex;
  margin:0 auto;
  max-width: 1240px;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 15px;
  padding-bottom: 20px;
    @media screen and (max-width: 1024px) {
        
       
      }

    @media screen and (max-width: 768px) {
        
        margin: 0;
      }
    img {
       width: 120px;
       height: 40px;
      
        @media screen and (max-width: 768px) {
            width: 120px;
            height: 40px;
            margin: 4%;
          } 
    }
    nav {
        ul{
            display: flex;
            gap: 33px;
            font-size: 22px;
            
            a{
                text-decoration: none;
                color: #ff6060;
                &.underline{
                    text-decoration: underline;
                }
                @media screen and (max-width: 768px) {
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    
                    }
                }
            
            li{
                margin-right: 0px;
                list-style: none;
                @media screen and (max-width: 768px) {
                    margin-right: -0.3rem;
                }
            }
        }
    }
    }