@use "../sass/variables.scss" as *;

.logement {
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
    width: 95%;
    @media screen and (max-width:768px) { 
    width: 90%;
    }
    .pictures {
        position: relative;
        height: 20rem;
        width: 100%;
        margin-bottom: 2rem;
    @media screen and (max-width:768px) {
        width: 100%;
        height: 15rem;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
        position: absolute;
        opacity: 0;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        mix-blend-mode: normal;
        border-radius: 10px;
        &.show {
        opacity: 1;
        @media screen and (max-width:768px) {
        width: 95;
        }
       }
    }  
       
        
    }
}
h1 {
        margin-block: 0;
        font-size: 36px;
        font-weight: 500;
        @media screen and (max-width:768px) {
            font-size: 25px;
    }
}
h2 {
    
    font-size: 18px;
    font-weight: 500;
    @media screen and (max-width:768px) {
    font-size: 14px;
    }

}
.tags {
    display: flex;
    gap: 1%;
    text-align: center;
    margin-top: 1%;
    margin-right: 1%;
}
.containertags {
    display: contents;
    @media screen and (max-width:768px) {
        display: unset;
        margin-left: 10px;
}
}
.tag {
    border-radius: 25px;
    background: #ff6060;
    color: white;
    padding: 5px;
    width: 15%;
    font-size: 14px;
    margin-top: -3%;
    margin-bottom: 3%;
    margin-right: 10px;

}
.Apartment {
    margin: 0 auto;
    max-width: 1240px;
    @media screen and (max-width:1024px) {
    width: 95%;
    }
    @media screen and (max-width:768px) {
    width: 93%;
    }

}    

.appartmentHeader {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:768px) {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 96%;
        }
}
    

.hostandrating {
    display: flex;
    flex-direction: column;
    @media screen and (max-width:768px) {
        display: flex;
        flex-direction: row-reverse;
        gap: 20%;
    }
    }
.host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.hostName {
    margin-right: 10px;
}
.hostImg {
    width: 64px;
  height: 64px;
  padding: 0;
  border-radius: 50%;
}
.rating {
    color: #E3E3E3;
    font-size: 36px;
    display: flex;
    justify-content: end;
    @media screen and (max-width:768px) {
    font-size: 25px;
    margin-right: 14px;
    }
}
.on {
    color: #FF6060;
   
}
.fleches {
    display: flex;
}
.Right {
    position: absolute;
    font-size: 70px;
    top: 35%;
    right:  0;
    color: white;
    bottom: 0;
    margin-block: auto;
    margin-right: 1%;
    @media screen and (max-width:1024px) {
        font-size: 50px;
        }
    

    @media screen and (max-width:768px) {
        font-size: 30px;
        }
}



.Left {
    position: absolute;
    font-size: 70px;
    top: 35%;
    color: white;
    margin-left: 1%;
    @media screen and (max-width:1024px) {
        
        font-size: 50px;
        }
     
    @media screen and (max-width:768px) {
        
        font-size: 30px;;
        }
}

   

.counter {
    position: absolute;
    bottom: 12%;
    right: 50%;
    color: white;
    font-size: 20px;
    font-weight: 500;
   
    @media screen and (max-width:768px) {
        
        display: none;
        }
    }  
